<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZooApp.Properties.Settings.MYINSTANCEDBConnectionString"
            connectionString="Data Source=ITM-NB-PF3WAY8J\MYINSTANCE;Initial Catalog=MYINSTANCEDB;Persist Security Info=True;User ID=sa;Password=Cinisello23!;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>